:root {
  --primary-color: #9692af;
  --primary-text-color: #222;
  --secondary-text-color: #aaa;
  --yellow-color: #ffc475;
  --white-color: #fff;
  --light-gray-color: #f1f1f1;
  --mid-gray-color: #d9d9d9;
  --dark-gray-color: #1a1a1a;
  --black-color: #000;
  --font-base: raleway, sans-serif;
  --animation-base: ease;
  --shadow-base: 0 0 10px rgba(0, 0, 0, 0.2);
}

html, body {
  margin: 0;
  padding: 0;
}

.mann-homegrid-outer {
  display: flex;
  flex-wrap: wrap;
}

.mann-homegrid-stage {
  height: 80vh;
  display: flex;
  flex: 1;
}

.mann-homegrid-item {
  display: flex;
  flex: 1;
  width: inherit;
}

.mann-homegrid-tag {
  background-color: aquamarine;
  width: inherit;
}

@media (max-width: 900px) {
  .mann-homegrid-outer {
    width: 100vw;
    height: 80vh;
  }
  .mann-homegrid-stage {
    flex-direction: column;
    width: inherit;
    height: inherit;
  }
  .mann-homegrid-item {
    width: inherit;
    height: unset;
    min-height: 150px;
  }
  .mann-homegrid-tag {
    width: inherit;
  }  
  .tag-image {
    width: 100vw;
  }
  .tag-description {    
    width: inherit;
  }  
  .tag-name {
    width: inherit;
  }
  body {
    width: inherit;
  }
}


/*
@media (min-width: 901px) {

}



@media (max-width: 575px) {

}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {

}

*/

.mannmenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffff;
  z-index: 1031;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;

  transition: all 0.35s;

  cursor: pointer;

}

.mannmenu a {
    pointer-events: all;
}

.mannmenu.open {
  visibility: visible;
  opacity: 1;
}

.main-mann-carousel {
  height: 80vh;
  display: flex;

}

.mann-carousel-item {
  height: 80vh;
  display: flex;
}

.mann-carousel-img {
  min-height: 80vh;
  object-fit: cover;
}

.mann-carousel div .rec.rec-slider-container {
  margin: 0;
  height: 80vh;
}

.mann-carousel div .rec.rec-arrow {
  /* z-index: 100;
  position: absolute;
  background-color: white;
  color: black; */
  background-color: var(--white-color);
  border: 0;
  box-shadow: var(--shadow-base);
  color: var(--dark-gray-color);
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  letter-spacing: 2px;
  line-height: 40px;
  margin-top: -20px;
  outline: none;
  padding: 0 0 0 2px;
  /* position: absolute; */
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 40vh;
  transition: color .5s var(--animation-base),opacity .5s var(--animation-base);
  width: 80px;
  z-index: 100;
  border-radius: 4px;
}

.mann-carousel div .rec.rec-arrow:hover {
  background-color: black;
  color: white;
}

.mann-carousel div .rec.rec-arrow-left {
  left: 10px;
  transform: rotate(270deg);
} 

.mann-carousel div .rec.rec-arrow-right {
  right: 25px;
  transform: rotate(90deg);
}

.mann-carousel div .rec.rec-arrow-right {
  right: 25px;
  transform: rotate(90deg);
}
.mann-carousel div .tag-content {
  width: 100%;
}
/* square buttons */
.rec.rec-arrow {
  border-radius: 4px;
}
/* round buttons on hover */
/* .rec.rec-arrow:hover {
  border-radius: 50%;
} */
/* hide disabled buttons  */
.mann-carousel div  .rec.rec-arrow:disabled,
.mann-carousel div .rec.rec-arrow-left:disabled,
.mann-carousel div .rec.rec-arrow-right:disabled {
  visibility: hidden;
}

.home-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  column-rule: 1px solid #ccc;
  column-gap: 2rem;
  grid-template-areas: "title video";
}

.home-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  column-rule: 1px solid #ccc;
  column-gap: 2rem;
  grid-template-areas: "left right";
}

.home-blabla a {
  text-decoration: underline;
  color: blue;
}

.title {
  grid-area: title;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.grey-back {
  padding: 1rem;
  border-radius: 2rem;
  background-color: #ccc;
}

@media(max-width:60rem) {
  .home-top {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "title" "video" "table" "carousel" "left" "right";
  }
  .home-bottom {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "title" "video" "table" "carousel" "left" "right";
  }
}

.sub-h2 {
  font-size: larger;
  font-style: italic;
}
.sub-h3 {
  font-size: large;
  font-style: italic;
}

/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
} 
.rec-carousel-item:hover {
  -webkit-filter: unset; /* Safari 6.0 - 9.0 */
  filter: unset;
} 


.rec.rec-dot {
  height: 25px;
  width: 25px;
  box-shadow: 0 0 1px 3px white;
  background-color: white;
  color: -internal-light-dark(white, black);
  display: none; /* temporary */
}

.rec-dot:hover,
.rec-dot:focus  {
  box-shadow:  0 0 3px 8px white;
}

.rec.rec-dot_active {
  background-color: black;
  box-shadow:  0 0 1px 3px white;
  color: -internal-light-dark(white, black);
}

.rec.rec-dot_active:hover,
.rec.rec-dot_active:focus {
  box-shadow:  0 0 3px 8px white;
}

.a-block {
  display: block;
}

.mann-carousel .rec.rec-pagination {
  position: absolute;
  bottom: 20vh;
  z-index: 999;
  /* background-color: white; */
}

.tag::before,
.tag-content{
  position: sticky;
}

/* .mann-carousel div .rec.rec-dot .rec.rec-dot_active {
  position: absolute;
  bottom: 0;
  z-index: 50;
} */

.tag-description {
  margin-bottom: 2.5rem;
  min-height: 18rem;
}

.metier {
  grid-area: table;
  margin-top: 1.5rem;
  margin: 0 auto;
}

.metier td {
  vertical-align: top;
}

.metier th {
  vertical-align: middle;
  text-align: center;
}

td.row-header {
  vertical-align: middle;
  text-align: center;
  transform: rotate(315deg);
  font-weight: bold;
}

.with-sub {
  margin-bottom: 0px;
}

div.rec-carousel-wrapper {
  grid-area: carousel;
}
/*
.overfig {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "itprog itprog itprog"
                       "itprogc itproge itprogs"
                       "digdev digdev digdev"
                       "digdevc digdeve digdevs"
                       "orgrob orgrob orgrob"
                       "orgrobc orgrobe orgrobs";
  margin: 0 auto;
  padding: 1rem;
}

.overfig h2 {
  align-self: center;
  justify-self: center;
  margin: 1rem;
}

@media(max-width:60rem) {
  .overfig {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "itprog" 
                         "itprogc"
                         "itproge"
                         "itprogs"
                         "digdev"
                         "digdevc"
                         "digdeve"
                         "digdevs"
                         "orgrob"
                         "orgrobc"
                         "orgrobe"
                         "orgrobs";
  }
}
*/

.overfig {
  display: grid;
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
}

.overfig h2 {
  align-self: center;
  justify-self: center;
  margin: 0;
}

.cat {
  padding: 0;
  border-style: solid;
  border-radius: 2rem;
}

.cat h2 {
  text-align: center;
  margin: 0.5rem 0 0.5rem;
}

.cat h3 {
  margin: 0.5rem 0 0.25rem;
}

.cat ul {
  margin: 0.5rem 0 1rem;
  padding-left: unset;
}

.domain-work h3 {
  text-align: center;
}

.domain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 0 0;
}


.domain-work {
  width: 100%;
  height: 100%;
}

.digdev {
  background-color: lightgreen;
  border-color: lightgreen;
}

.itprog {
  background-color: lightblue;
  border-color: lightblue;
}

.orgrob {
  background-color: gold;
  border-color: gold;
}

.consult {
  background-color: rgba(255,255,255,0.9);
  border-radius: 0 0 0 2rem;
}
.engineer {
  background-color: rgba(255,255,255,0.75);
}

.steer {
  background-color: rgba(255,255,255,0.6);
  border-radius: 0 0 2rem 0;
}

@media(max-width:60rem) {
  .domain {
    grid-template-columns: repeat(1, 1fr);
  }
  .consult {
    border-radius: 0;
  }
  .steer {
    border-radius: 0 0 2rem 2rem;
  }
}