.main-mann-carousel {
  height: 80vh;
  display: flex;
}

.mann-carousel-item {
  height: 80vh;
  display: flex;
}

.mann-carousel-img {
  min-height: 80vh;
  object-fit: cover;
}

.mann-carousel div .rec.rec-slider-container {
  margin: 0;
  height: 80vh;
}

.mann-carousel div .rec.rec-arrow {
  /* z-index: 100;
  position: absolute;
  background-color: white;
  color: black; */
  background-color: var(--white-color);
  border: 0;
  box-shadow: var(--shadow-base);
  color: var(--dark-gray-color);
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  letter-spacing: 2px;
  line-height: 40px;
  margin-top: -20px;
  outline: none;
  padding: 0 0 0 2px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transition: color .5s var(--animation-base),opacity .5s var(--animation-base);
  width: 80px;
  z-index: 100;
}

.mann-carousel div .rec.rec-arrow:hover {
  background-color: black;
  color: white;
}

.mann-carousel div .rec.rec-arrow-left {
  left: 10px;
  transform: rotate(270deg);
} 

.mann-carousel div .rec.rec-arrow-right {
  right: 25px;
  transform: rotate(90deg);
}

/* square buttons */
.rec.rec-arrow {
  border-radius: 0;
}
/* round buttons on hover */
/* .rec.rec-arrow:hover {
  border-radius: 50%;
} */
/* hide disabled buttons  */
.rec.rec-arrow:disabled {
  color: white !important;
  background-color: white !important;
}

/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
} 
.rec-carousel-item:hover {
  -webkit-filter: unset; /* Safari 6.0 - 9.0 */
  filter: unset;
} 


.rec.rec-dot {
  height: 25px;
  width: 25px;
  box-shadow: 0 0 1px 3px white;
  background-color: white;
  color: -internal-light-dark(white, black);
}

.rec-dot:hover,
.rec-dot:focus  {
  box-shadow:  0 0 3px 8px white;
}

.rec.rec-dot_active {
  background-color: black;
  box-shadow:  0 0 1px 3px white;
  color: -internal-light-dark(white, black);
}

.rec.rec-dot_active:hover,
.rec.rec-dot_active:focus {
  box-shadow:  0 0 3px 8px white;
}

.a-block {
  display: block;
}

.mann-carousel .rec.rec-pagination {
  position: absolute;
  bottom: 0;
  z-index: 999;
  /* background-color: white; */
}

.tag::before,
.tag-content{
  position: sticky;
}

/* .mann-carousel div .rec.rec-dot .rec.rec-dot_active {
  position: absolute;
  bottom: 0;
  z-index: 50;
} */

.tag-description {
  margin-bottom: 35px;
}